<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-Language" content="en"/>

        <meta name="listname" content="{{ watchList.name }}"/>

        <title>Watchlist - {{ watchList.name }}</title>

        <link rel="stylesheet" href="{{ asset("main.css") }}"/>
        <script src="{{ asset("main.js") }}"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <span class="navbar-brand">Watchlist</span>
                <button class="btn btn-primary btn-sm" id="add-entry"><i class="fas fa-plus-square"></i> Add entry</button>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="{{ html_classes("fas", {"fa-bell": watchList.notificationsEnabled,"fa-bell-slash": not watchList.notificationsEnabled}) }}"></i>
                            {% if watchList.notifiedEntries %}
                                <span class="badge bg-danger">{{ watchList.notifiedEntries|length }}</span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;">
                            <form class="px-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="toggle-notifications" {% if watchList.notificationsEnabled %}checked{% endif %}>
                                    <label class="form-check-label" for="toggle-notifications">Notifications</label>
                                </div>
                            </form>

                            {% if watchList.notifiedEntries %}
                                <div class="dropdown-divider"></div>

                                {% for entry in watchList.notifiedEntries %}
                                    <a class="dropdown-item" href="#search&query={{ entry.isin }}">{{ entry.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tools</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" id="tools-item-tax-calculator" data-bs-toggle="modal" data-bs-target="#tax-calculator-modal" role="button">Tax calculator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{ watchList.name }}</a>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;">
                            {% for thisWatchList in watchLists %}
                                <li><a class="{{ html_classes("dropdown-item", {"active": thisWatchList.name == watchList.name}) }}" href="/watchlist/{{ thisWatchList.name }}">{{ thisWatchList.name }}{% if not thisWatchList.enabled %} <span class="badge bg-danger">disabled</span>{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mt-3">
            <table class="table table-striped" id="table" data-search-highlight="true" data-order='[[1, "asc"]]' data-page-length="-1" data-length-menu='[[10, 25, 50, -1], [10, 25, 50, "All"]]'>
                <thead class="table-light">
                    <tr class="text-nowrap">
                        <th>#</th>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Price</th>
                        <th>Current price</th>
                        <th>Difference</th>
                        <th>Day start</th>
                        <th>Limit</th>
                        <th>Date</th>
                        <th>News</th>
                        <th data-orderable="false" data-searchable="false"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for entry in watchList.entries %}
                        <tr id="entry-{{ entry.id }}" class="entry" data-id="{{ entry.id }}" data-isin="{{ entry.isin }}" data-name="{{ entry.name }}" data-count="{{ entry.count }}" data-price="{{ entry.price }}" data-limit-enabled="{{ entry.limitEnabled }}" data-limit-low="{{ entry.lowLimit }}" data-limit-high="{{ entry.highLimit }}" data-fast-update-interval-enabled="{{ entry.fastUpdateIntervalEnabled }}" data-date="{{ entry.date.format("Y-m-d") }}" data-news-enabled="{{ entry.newsEnabled }}">
                            <td data-order="{{ loop.index }}" class="text-end">{{ loop.index }}</td>
                            <td data-order="{{ entry.name }}">
                                <div class="row">
                                    <div class="col entry-icon">
                                        {% if "CRYPTO:" not in entry.isin and "CMC:" not in entry.isin %}
                                            <img src="https://assets.traderepublic.com/img/logos/{{ entry.isin }}/dark.svg" class="rounded-circle"/>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {{ entry.name }}<br/>
                                        <small class="text-muted">{{ entry.isin }}</small>
                                    </div>
                                </div>
                            </td>
                            <td data-order="{{ entry.count }}" class="text-end">{{ entry.count|format_number(locale="de") }}</td>
                            <td data-order="{{ entry.price }}" class="text-end">{{ entry.price|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}<br/>{{ entry.totalPrice|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}</td>
                            <td data-order="{{ entry.currentPrice }}" class="text-end">
                                <div class="d-table float-end">
                                    <span class="d-table-cell">
                                        {{ entry.currentPrice|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}<br/>
                                        {{ entry.currentTotalPrice|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}
                                    </span>
                                    <span class="d-table-cell">
                                        {% if entry.priceChangeDifference %}
                                            &nbsp;<i class="{{ html_classes("fas", {"fa-arrow-circle-up text-success": entry.priceChangeDifference > 0, "fa-arrow-circle-down text-danger": entry.priceChangeDifference < 0}) }}"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </td>
                            <td data-order="{{ entry.priceDifference }}" class="text-end">
                                <span class="{{ html_classes({"text-danger": entry.priceDifferencePercentage < 0}) }}">{% if entry.priceDifferencePercentage > 0 %}+{% endif %}{{ entry.priceDifferencePercentage|format_percent_number({max_fraction_digit: 2}, locale="de") }}</span><br/>
                                <span class="{{ html_classes({"text-danger": entry.priceDifference < 0}) }}">{% if entry.priceDifference > 0 %}+{% endif %}{{ entry.priceDifference|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}</span><br/>
                                <span class="{{ html_classes({"text-danger": entry.totalPriceDifference < 0}) }}">{% if entry.totalPriceDifference > 0 %}+{% endif %}{{ entry.totalPriceDifference|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}</span><br/>
                                <span class="{{ html_classes("badge", {"bg-danger": entry.realProfit < 0, "bg-success": entry.realProfit > 0}) }}" title="Real profit">{% if entry.realProfit > 0 %}+{% endif %}{{ entry.realProfit|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}</span>
                            </td>
                            <td data-order="{{ entry.dayStartPriceDifference }}" class="text-end">
                                <span class="{{ html_classes({"text-danger": entry.dayStartPriceDifferencePercentage < 0}) }}">{% if entry.dayStartPriceDifferencePercentage > 0 %}+{% endif %}{{ entry.dayStartPriceDifferencePercentage|format_percent_number({max_fraction_digit: 2}, locale="de") }}</span><br/>
                                <span class="{{ html_classes({"text-danger": entry.dayStartPriceDifference < 0}) }}">{% if entry.dayStartPriceDifference > 0 %}+{% endif %}{{ entry.dayStartPriceDifference|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}</span><br/>
                                <span class="{{ html_classes({"text-danger": entry.totalDayStartPriceDifference < 0}) }}">{% if entry.totalDayStartPriceDifference > 0 %}+{% endif %}{{ entry.totalDayStartPriceDifference|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }}</span>
                            </td>
                            <td data-order="{{ entry.percentageToLimit }}" class="text-end text-nowrap">
                                {% if entry.limitEnabled %}
                                    {% if entry.percentageToLimit %}{{ entry.percentageToLimit|format_percent_number(locale="de") }}<br/>{% endif %}
                                    {% if entry.highLimit %}{{ entry.highLimit|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }} <span class="badge bg-primary">high</span><br/>{% endif %}
                                    {% if entry.lowLimit %}{{ entry.lowLimit|format_currency("EUR", {max_fraction_digit: 10}, locale="de") }} <span class="badge bg-primary">low</span><br/>{% endif %}
                                {% endif %}
                            </td>
                            <td data-order="{{ entry.date.format("c") }}">
                                {{ entry.date.format("d.m.Y") }}<br/>
                                {{ entry.date.diffNow.days }} days
                            </td>
                            <td data-order="{{ entry.newsEnabled }}">{% if entry.newsEnabled %}<i class="fas fa-check"></i>{% endif %}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-primary show-news" title="Show news"><i class="fas fa-rss"></i></button>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" title="Show stock on site"><i class="fas fa-chart-line"></i></button>
                                        <ul class="dropdown-menu">
                                            {% if "CRYPTO:" in entry.isin or "CMC:" in entry.isin %}
                                                <li><a class="dropdown-item" target="_blank" href="https://www.binance.com/de/trade/{{ entry.isin|split(":", 2)[1]|upper }}_EUR">Binance</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://www.bitcoin.de/de/{{ entry.isin|split(":", 2)[1]|lower }}eur/market">bitcoin.de</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="/coinmarketcap/{{ entry.isin|split(":", 2)[1]|lower }}">CoinMarketCap</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" target="_blank" href="https://wertpapiere.ing.de/Investieren/Aktie/{{ entry.isin }}">ING</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://www.finanzen.net/suchergebnis.asp?_search={{ entry.isin }}">finanzen.net</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://www.ls-tc.de/de/aktie/{{ entry.isin }}">Lang & Schwarz</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://www.gettex.de/suche/?tx_indexedsearch[sword]={{ entry.isin }}">gettex</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://de.scalable.capital/broker/security?isin={{ entry.isin }}">Scalable Capital</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://www.tradegate.de/orderbuch.php?isin={{ entry.isin }}">Tradegate Exchange</a></li>
                                                <li><a class="dropdown-item" target="_blank" href="https://app.traderepublic.com/instrument/{{ entry.isin }}">Trade Republic</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" title="Show in list"><i class="fas fa-external-link-alt"></i></button>
                                        <ul class="dropdown-menu">
                                            {% for thisWatchList in watchLists %}
                                                {% if thisWatchList.name != watchList.name %}
                                                    <li><a class="dropdown-item" href="/watchlist/{{ thisWatchList.name }}#search&query={{ entry.isin }}">{{ thisWatchList.name }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <button type="button" class="btn btn-primary edit-entry" title="Edit entry"><i class="fas fa-edit"></i></button>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" title="Add to list"><i class="fas fa-copy"></i></button>
                                        <ul class="dropdown-menu">
                                            {% for thisWatchList in watchLists %}
                                                <li><a class="dropdown-item" href="/watchlist/{{ thisWatchList.name }}#edit&isin={{ entry.isin }}&name={{ entry.name }}&count={{ entry.count }}&price={{ entry.price }}&date={{ entry.date.format("Y-m-d") }}">{{ thisWatchList.name }}{% if thisWatchList.name == watchList.name %} <span class="badge bg-primary">current</span>{% endif %}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <button type="button" class="btn btn-danger delete-entry" title="Delete from list"><i class="fas fa-trash-alt"></i></button>
                                    {% if entry.notificationTriggered %}
                                        <button type="button" class="btn btn-warning reset-notify" title="Notified {{ entry.notificationDate.formatRelativeTime() }} - Click to reset"><i class="fas fa-bell"></i></button>
                                    {% endif %}
                                    {% if entry.fastUpdateIntervalEnabled %}
                                        <button class="btn btn-warning" title="Fast update interval enabled"><i class="fas fa-clock"></i></button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="2">
                            <span class="text-muted">Percentage</span><br/>
                            <span class="text-muted">Price</span><br/>
                            <span class="text-muted">Total</span>
                        </td>
                        <td class="text-end">
                            <br/>
                            <br/>
                            {{ watchList.total.count|format_number(locale="de") }}
                        </td>
                        <td class="text-end">
                            <br/>
                            {{ watchList.total.price|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}<br/>
                            {{ watchList.total.totalPrice|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}
                        </td>
                        <td class="text-end">
                            <br/>
                            {{ watchList.total.currentPrice|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}<br/>
                            {{ watchList.total.currentTotalPrice|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}</td>
                        <td class="text-end">
                            {{ watchList.total.priceDifferencePercentage|format_percent_number({max_fraction_digit: 2}, locale="de") }}<br/>
                            {{ watchList.total.priceDifference|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}<br/>
                            {{ watchList.total.totalPriceDifference|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}
                        </td>
                        <td class="text-end">
                            <br/>
                            {{ watchList.total.dayStartPriceDifference|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}<br/>
                            {{ watchList.total.totalDayStartPriceDifference|format_currency("EUR", {max_fraction_digit: 2}, locale="de") }}
                        </td>
                        <td></td>
                        <td>{% if watchList.total.minDate %}{{ watchList.total.minDate.diffNow.days }} days{% endif %}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal fade" tabindex="-1" id="edit-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" id="edit-form">
                            <input type="hidden" id="edit-id" name="id"/>

                            <div class="col-12">
                                <label for="edit-watchlist" class="form-label">Watchlist</label>
                                <select class="form-select" id="edit-watchlist">
                                    {% for thisWatchList in watchLists %}
                                        <option value="{{ thisWatchList.name }}" data-price-type="{{ thisWatchList.priceType }}" {% if thisWatchList.name == watchList.name %}selected{% endif %}>{{ thisWatchList.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="edit-isin" class="form-label">ISIN</label>
                                <input type="text" class="form-control" id="edit-isin" name="isin"/>
                            </div>
                            <div class="col-12">
                                <label for="edit-name" class="form-label">Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="edit-name" name="name"/>
                                    <button class="btn btn-outline-secondary" type="button" id="edit-refresh-name" title="Refresh name"><i class="fas fa-redo"></i></button>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="edit-count" class="form-label">Count</label>
                                <input type="number" class="form-control" id="edit-count" name="count" min="1"/>
                            </div>
                            <div class="col-6">
                                <label for="edit-price" class="form-label">Price</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="edit-price" name="price" step="0.01"/>
                                    <span class="input-group-text">EUR</span>
                                    <button class="btn btn-outline-secondary" type="button" id="edit-refresh-price" title="Refresh price"><i class="fas fa-redo"></i></button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="edit-limit-enabled" name="limitEnabled">
                                    <label for="edit-limit-enabled" class="form-label mb-0">Limit</label>
                                </div>

                                <div class="input-group mt-2">
                                    <span class="input-group-text"><label for="edit-limit-high">High</label></span>
                                    <input type="number" class="form-control" id="edit-limit-high" name="highLimit" step="0.01"/>
                                    <span class="input-group-text">EUR</span>
                                </div>

                                <div class="input-group mt-2">
                                    <span class="input-group-text"><label for="edit-limit-low">Low</label></span>
                                    <input type="number" class="form-control" id="edit-limit-low" name="lowLimit" step="0.01"/>
                                    <span class="input-group-text">EUR</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="edit-date" class="form-label">Date</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="edit-date" name="date"/>
                                    <button class="btn btn-outline-secondary" type="button" id="edit-refresh-date" title="Refresh date"><i class="fas fa-redo"></i></button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="edit-fast-update-interval-enabled" name="fastUpdateIntervalEnabled">
                                    <label class="form-check-label" for="edit-fast-update-interval-enabled">Fast update interval</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="edit-news-enabled" name="newsEnabled">
                                    <label class="form-check-label" for="edit-news-enabled">News</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="edit-entry-save">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>

        <div class="modal fade" tabindex="-1" id="delete-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete entry from list</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete the selected entry?</p>
                        <dl>
                            <dt>Watchlist</dt>
                            <dd>{{ watchList.name }}</dd>

                            <dt>ISIN</dt>
                            <dd class="isin"></dd>

                            <dt>Name</dt>
                            <dd class="name"></dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="delete-entry-confirm">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="news-modal">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">News</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="tax-calculator-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tax calculator</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input tax-calculator-input" name="tax-calculator-type" id="tax-calculator-type-stock" checked/>
                                    <label class="form-check-label" for="tax-calculator-type-stock">Stock</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input tax-calculator-input" name="tax-calculator-type" id="tax-calculator-type-etf"/>
                                    <label class="form-check-label" for="tax-calculator-type-etf">ETF</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="tax-calculator-exemption-value">Tax exemption</label>
                                <div class="input-group mt-2">
                                    <input type="number" class="form-control tax-calculator-input" id="tax-calculator-exemption-value" min="0" step="0.01" value="801"/>
                                    <span class="input-group-text">EUR</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="tax-calculator-gross-value">Gross</label>
                                <div class="input-group mt-2">
                                    <input type="number" class="form-control tax-calculator-input" id="tax-calculator-gross-value" min="0" step="0.01"/>
                                    <span class="input-group-text">EUR</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="tax-calculator-gross-tax-base-value">Tax base</label>
                                <div class="input-group mt-2">
                                    <input type="text" class="form-control" id="tax-calculator-gross-tax-base-value" readonly/>
                                    <span class="input-group-text">EUR</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="tax-calculator-tax-value">Tax</label>
                                <div class="input-group mt-2">
                                    <input type="text" class="form-control" id="tax-calculator-tax-value" readonly/>
                                    <span class="input-group-text">EUR</span>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="tax-calculator-net-value">Net</label>
                                <div class="input-group mt-2">
                                    <input type="text" class="form-control" id="tax-calculator-net-value" readonly/>
                                    <span class="input-group-text">EUR</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>